* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
}

header {
  height: 85vh;
  color: #fff;
  position: relative;
  background-size: cover;
  margin-bottom: 35px;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.577),
      rgba(34, 34, 34, 0.385)
    ),
    url(images/Header.jpg);
}

.header-container {
  width: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 54px;
  margin-bottom: 10px;
}

.header-pera {
  width: 800px;
  margin: auto;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 60px;
}

.btn {
  color: #fff;
  font-size: 20px;
  padding: 15px 50px;
  border-radius: 50px;
  text-decoration: none;
  background-color: #d6336c;
  box-shadow: 0px 0px 14px #de6791be;
}

/* first section start */

.donate-container {
  padding: 96px 0px;
  text-align: center;
}

.donate-tile {
  margin: auto;
  width: 800px;
  justify-content: center;
  margin-bottom: 80px;
}

.donate {
  color: black;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.box-five {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}

.width-0 {
  width: 140px;
  height: 120px;
  margin: 20px;
  border-radius: 8px;
  background-color: #f1f3f5;
}

.width-0-1 {
  width: 140px;
  height: 120px;
  margin: 20px;
  background-color: #ecb5c8ae;
  border: 4px solid #d6336c;
  border-radius: 8px;
}

.number {
  font-size: 36px;
  font-weight: 500;
  margin-top: 35px;
}

.other-tk {
  font-size: 22px;
  font-weight: 200;
  color: #868e96;
  margin-bottom: 55px;
}

/* second section start */

.plan-container {
  padding: 96px 0px;
  margin-bottom: 60px;
  text-align: center;
  /* background-color: #828080; */
}

.box-three {
  text-align: center;
  justify-content: center;
  display: flex;
}

.box-width {
  margin: 20px;
  width: 380px;
  padding: 20px;
  height: 400px;
  border-radius: 8px;
  background-color: #f1f3f5;
}

.mt {
  padding-top: 40px;
}

.color-1 {
  background-color: #e6fcf5;
}

.color-2 {
  background-color: #fff4e6;
}
.color-3 {
  background-color: #e3fafc;
}

.margin-md {
  margin-bottom: 20px;
}

.box--title {
  color: black;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}
.box-texts {
  font-size: 18px;
  line-height: 1.6;
}
